.thumbnail img {
	width: 100%;
}

.thumbnail {
	padding: 0;
}

.thumbnail .caption-full {
	padding: 9px;
}

#delete-form {
	display: inline;
}

.navbar {
	margin-bottom: 5px;
}

.niceFont {
	font-family: 'Lato', sans-serif;
}
